.myBody {
    background-color:#819b9a;
    opacity: 0.85;
    }

.container.myContainer {
    font-family: 'Roboto', sans-serif;
    font-size: 'large';
    color: azure;
}

.jumbotron.myTitle {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: azure;
    opacity: 1;
    background-color:#819b9a;
    opacity: 0.85;
    }

.myButton {
    color: black;
}

.myInput {
    color: black;
}